@media (max-width:1300px){
    /* *********home */
    .hello{
        font-size: 30px;
    }
    .Im{
        font-size: 42px;
    }
    .multitext{
        font-size: 60px;
    }
    .buttons{
        width: 70%;
    }
    /* *******profile */
    .profile .discription .paragraph_desc{
        font-size: 20px;
    }
    /*********skils***/
    .skils_panel_web,.skils_panel_media{
        margin: 50px;
    }
    .skils_panel_desktop{
        margin: 50px;
    }
    .skils_panel .skils_disk{
        width: 60%;
    }
    .skils_panel .skils_disk .skils_title .title{
        font-size: 25px;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 20px;
    }
    #paragraph_desc_desktop{
        width: 40%;
    }
    @keyframes opne_boll{
        100%{
            transform: translateX(-140%);
        }
    }
    @keyframes opne_boll2{
        100%{
            transform: translateX(120%);
        }
    }
    .second_skils_model{
        display: none;
    }
}
@media (max-width:1200px){
    /* *********home */
    .hello{
        font-size: 32px;
    }
    .Im{
        font-size: 44px;
    }
    .multitext{
        font-size: 62px;
    }
    .buttons{
        width: 75%;
    }
    /* *******profile */
    .profile .discription .paragraph_desc{
        font-size: 20px;
    }
    /*********skils***/
    .skils_panel_web,.skils_panel_media{
        margin: 50px;
    }
    .skils_panel_desktop{
        margin: 50px;
    }
    .skils_panel .skils_disk .skils_title{
        font-size: 28px;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 20px;
    }
    .tagcloud {
        font-family:var(--main_font);
        font-size: 20px;
    }
    @keyframes opne_boll{
        100%{
            transform: translateX(-120%);
        }
    }
}
@media (max-width:1130px){
    /* *********home */
    .hello{
        font-size: 28px;
    }
    .Im{
        font-size: 40px;
    }
    .multitext{
        font-size: 60px;
    }
    .buttons{
        width: 80%;
    }
    /*********skils***/
    .skils_panel_web,.skils_panel_media{
        margin: 60px;
    }
    .skils_panel_desktop{
        margin: 60px;
    }
    .skils_panel .skils_disk .skils_title{
        margin-bottom: 25px;
    }
    .skils_panel .skils_disk .skils_title .title{
        font-size: 20px;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 18px;
    }
    .tagcloud {
        font-family:var(--main_font);
        font-size: 20px;
    }
    @keyframes opne_boll{
        100%{
            transform: translateX(-120%);
        }
    }
}
@media (max-width:1030px){
    /* *********home */
    .hello{
        font-size: 28px;
    }
    .Im{
        font-size: 35px;
    }
    .multitext{
        font-size: 50px;
    }
    .buttons{
        width: 90%;
    }
    .media_logos::after{
        width: 80%;
    }
    /*********skils***/
    .skils_panel_web,.skils_panel_media{
        margin: 60px;
        flex-direction: column;
        align-items: center;
        padding: 100px;
    }
    .skils_panel_desktop{
        margin: 60px;
        flex-direction: column;
        align-items: center;
        padding: 100px;
    }
    .skils_panel .skils_disk{
        height: 100%;
        width: 90%;
    }
    #paragraph_desc_desktop{
        height: 100%;
        width: 90%;
    }
    .skils_panel .skils_disk .skils_title{
        margin-bottom: 20px;
    }
    .skils_panel .skils_disk .skils_title .title{
        font-size: 25px;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 20px;
    }
    @keyframes opne_boll{
        100%{
            transform: translateX(-100%);
        }
    }
    @keyframes opne_boll2{
        100%{
            transform: translateX(100%);
        }
    }
    .project .contain .panel_projects .ender_panel_projects{
        flex-direction: column-reverse;
    }
    .project .contain .panel_projects .ender_panel_projects .cards{
        width: 100%;
    }
    .project .contain .panel_projects .ender_panel_projects .logo{
        width: 100%;
        height: 300px;
    }
    /**contact**/
    .contact .contain .cards .card{
        height: 300px;
        width: 200px;
    }
    .contact .contain .cards .card .title{
        font-size: 25px;
    }
    .contact .contain .cards .card p{
        font-size: 15px;
    }
    .contact .contact_icons p{
        font-size: 20px;
    }
    .contact .contact_icons p a{
        color: var(--main_font_color2);
    }
    .contact .contact_icons .media_logos{
        width: 200px;
        height: 100%;
    }
}
@media (max-width:900px){
    /* *********home */
    .hello{
        font-size: 28px;
    }
    .Im{
        font-size: 32px;
    }
    .multitext{
        font-size: 50px;
    }
    .buttons{
        height: 30%;
        flex-direction: column;
    }
    .buttons a{
        width: 170px;
        height: 30%;
    }
    .buttons::after{
        height: 100%;
    }
    .media_logos::after{
        width: 100%;
    }
    /* *******profile */
    .profile .discription .paragraph_desc{
        font-size: 17px;
    }
    /*********skils***/
    .skils_panel .skils_disk .skils_title{
        font-size: 28px;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 18px;
    }
    .word {
        display: none;
    }
    .second_skils_model{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin-top: 20px;
    }
    .second_skils_model h3{
        font-family: var(--main_font);
        color: var(--main_font_color2);
    }
}
@media (max-width:760px){
    /**skils*/
    .skils_panel_web,.skils_panel_media{
        margin: 100px;
    }
    .skils_panel_desktop{
        margin: 100px;
    }
    /**contact**/
    .contact .contact_icons p{
        font-size: 18px;
    }
    .contact .contact_icons p a{
        color: var(--main_font_color2);
    }
    .contact .contact_icons .media_logos{
        width: 200px;
        height: 100%;
    }
    .contact .title{
        font-size: 40px;
    }
}
@media (max-width:650px){
    /* *********home */
    .nav_bar ul{
        width: 400px;
    }
    .home{
        flex-direction: column-reverse;
        align-items: center;
    }
    .pictur_panel{
        width: 100%;
        height: 40%;
    }
    .pictur_panel .icon{
        width: 200px;
        height: 75%;
        box-shadow: 0px 16px 20px 0px var(--main_color1);
    }
    .details{
        width: 100%;
        height: 60%;
    }
    .hello{
        font-size: 25px;
    }
    .Im{
        font-size: 26px;
    }
    .multitext{
        font-size: 45px;
    }
    .buttons{
        height: 30%;
        flex-direction: row;
    }
    .buttons a{
        width: 170px;
        height: 50%;
    }
    .media_logos{
        justify-content: center;
        padding: 0;
    }
    #twiter,#linkedin,#youtub,#github{
        height: 100%;
        margin: 0;
    }
    /* *******profile */
    .profile .title{
        width: 180px;
        height: 10%;
    }
    .profile .title p{
        font-size: 40px;
    }
    .profile .discription .picture{
        height: 150px;
        width: 150px;
    }
    .profile .multitext_profile{
        font-size: 32px;
        height: 15%;
    }
    .profile .discription .paragraph_desc{
        font-size: 15px;
    }
    /*skils*/
    .skils_panel_web,.skils_panel_media{
        margin-top: 150px;
    }
    .skils_panel_desktop{
        margin-top: 200px;
    }
    .skils_panel .skils_disk .skils_title .icon{
        height: 120px;
        width: 120px;
    }
    .skils_panel .skils_disk{
        align-items: center;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        text-align: center;
    }
    .skils_panel .skils_disk .skils_title{
        margin-bottom: 30px;
        height: 180px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .second_skils_model{
        justify-content: center;
    }
    /**contact**/
    .contact .title{
        font-size: 37px;
        text-align: center;
    }
    .contact .contact_icons p{
        font-size: 16px;
    }
    .contact .contact_icons .media_logos{
        width: 150px;
        justify-content: space-around;
    }
    .contact .contact_icons .media_logos a{
        height: 50%;
    }
    #github_contact,#linkedin_contact,#youtub_contact,#twiter_contact{
        height: 40%;
        margin: 5px;
    }
}
@media (max-width:550px){
    /******project**/
    .project .contain .panel_projects .projects_title{
        height: 50px;
        font-size: 25px;
    }
    /*****contact***/
    .contact .contain .cards .card{
        height: 150px;
        width: 250px;
        display: flex;
    }
}
@media (max-width:450px){
    .frame{
        height: 80%;
    }
    #project{
        height: 75%;
    }
    /* *********home */
    .nav_bar ul{
        width: 300px;
    }
    .hello{
        font-size: 20px;
    }
    .Im{
        font-size: 25px;
    }
    .multitext{
        font-size: 35px;
    }
    .buttons{
        height: 30%;
        flex-direction: row;
    }
    .buttons a{
        width: 45%;
        height: 40%;
        font-size: 15px;
        text-align: center;
    }
    .media_logos::after{
        width: 90%;
    }
    /* *******profile */
    .profile .multitext_profile{
        font-size: 25px;
    }
    .profile .discription .paragraph_desc{
        font-size: 18px;
        font-weight: 500;
        height: 35%;
        width: 95%;
    }
    .profile .discription .paragraph_desc::after{
        height: 100%;
    }
    /*********skils***/
    .skils_panel_web,.skils_panel_media{
        margin: 200px;
    }
    .skils_panel_desktop{
        margin: 200px;
    }
    .skils_panel .skils_disk .skils_title .icon{
        height: 100px;
        width: 100px;
    }
    .skils_panel .skils_disk .skils_title .title{
        font-size: 18px;
        height: 20%;
        text-align: center;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 16px;
        font-weight: 500;
        width: 90%;
    }
    .second_skils_model .skill h3{
        font-family: var(--main_font);
        color: var(--main_font_color2);
        font-size: 16px;
    }
    /******project**/
    .project .contain .card{
        width: 250px;
        height: 170px;
    }
    .project .contain .card .trans_hiegth{
        position: relative;
        width: 250px;
        height: 340px;
        transition: .4s ease;
    }
    .project .contain .card .trans_hiegth .more{
        width: 250px;
        height: 170px;
    }
    /*****contain***/
    .contact .title{
        font-size: 35px;
        text-align: center;
    }
    .contact .contact_icons p{
        font-size: 15px;
        font-weight: 700;
        flex-direction: column;
        justify-content: center;
    }
    .contact .contact_icons .media_logos{
        width: 150px;
        justify-content: space-around;
    }
    .contact .contact_icons .media_logos a{
        height: 50%;
    }
    #github_contact,#linkedin_contact,#youtub_contact,#twiter_contact{
        height: 50px;
        width: 50px;
        margin: 5px;
    }
    .contact .contain .cards .card{
        height: 150px;
        width: 250px;
    }
    .project .contain .panel_projects .ender_panel_projects .logo{
        display: none;
    }
}
@media (max-width:370px){
    /*********skils***/
    .skils_panel_web,.skils_panel_media{
        margin: 200px;
    }
    .skils_panel_desktop{
        margin: 200px;
    }
    .skils_panel .skils_disk .skils_title .icon{
        height: 100px;
        width: 100px;
    }
    .skils_panel .skils_disk .skils_title .title{
        font-size: 18px;
        height: 20%;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 17px;
        font-weight: 600;
    }
    .second_skils_model .skill h3{
        font-family: var(--main_font);
        color: var(--main_font_color2);
        font-size: 16px;
    }
    .second_skils_model .skill .skill-bar{
        width: 220px;
    }
    /******project**/
    .project .contain .panel_projects .projects_title{
        font-size: 20px;
        font-weight: 700;
    }
    .project .contain .card{
        width: 200px;
        height: 130px;
    }
    .project .contain .card .trans_hiegth{
        width: 200px;
        height: 260px;
    }
    .project .contain .card .trans_hiegth .more{
        width: 200px;
        height: 130px;
    }
    .project .contain .card .trans_hiegth .more h1{
        font-size: 15px;
    }
    .project .contain .card .trans_hiegth .more a{
        width: 30px;
        height: 30px;
    }
}