@media (max-width:1300px){
    /* *********home */
    .hello{
        font-size: 19px;
    }
    .Im{
        font-size: 42px;
    }
    .multitext{
        font-size: 38px;
    }
    .smalldesc{
        font-size: 17px;
        font-family: var(--main_font);
        color: #ffffff;
    }
    /* *******profile */
    .profile .discription .paragraph_desc{
        font-size: 17px;
    }
    /*********skils***/
    .skils_panel .skils_title .icon{
        width: 90px;
        height: 90px;
    }
    .second_skils_model{
        display: none;
    }
    /*********projects*****/
    .corner_projects p{
        font-size: 40px;
    }
    .project .corner_projects .logo_img{
        width: 20%;
        height: 20%;
    }
}

@media (max-width:1200px){
    /* *********home */
    .hello{
        font-size: 19px;
    }
    .Im{
        font-size: 42px;
    }
    .multitext{
        font-size: 38px;
    }
    .smalldesc{
        font-size: 17px;
        font-family: var(--main_font);
        color: #ffffff;
    }
    /*********skils***/
    .skils_panel .skils_disk .skils_title{
        font-size: 28px;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 17px;
    }
    .tagcloud {
        font-family:var(--main_font);
        font-size: 20px;
    }
    @keyframes opne_boll{
        100%{
            transform: translateX(-120%);
        }
    }
}
@media (max-width:1130px){
    /* *********home */
    .hello{
        font-size: 19px;
    }
    .Im{
        font-size: 42px;
    }
    .multitext{
        font-size: 38px;
    }
    .smalldesc{
        font-size: 17px;
        font-family: var(--main_font);
        color: #ffffff;
    }
    /*********skils***/
    .skils_panel .skils_disk .skils_title{
        margin-bottom: 25px;
    }
    .skils_panel .skils_disk .skils_title .title{
        font-size: 20px;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 17px;
    }
    .tagcloud {
        font-family:var(--main_font);
        font-size: 20px;
    }
    @keyframes opne_boll{
        100%{
            transform: translateX(-120%);
        }
    }
}
@media (max-width:1030px){
    .buttons a{
        font-weight: 500;
        font-size: 15px;
    }
    .socialContainer {
        width: 35px;
        height: 35px;
      }
    /*********skils***/
    .skils_panel{
        flex-direction: column;
        align-items: center;
    }
    .skils_panel .skils_disk{
        height: 50%;
        width: 90%;
    }
    .skils_panel .skils_disk .skils_title{
        margin-bottom: 20px;
    }
    .skils_panel .skils_disk .skils_title .title{
        font-size: 25px;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 17px;
    }
    @keyframes opne_boll{
        100%{
            transform: translateX(-100%);
        }
    }
    @keyframes opne_boll2{
        100%{
            transform: translateX(100%);
        }
    }
    /*********contact********/
    .contact_media a{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    /*********projects*****/
    .corner_projects p{
        font-size: 35px;
    }
    .project .corner_projects .logo_img{
        width: 100px;
        height: 100px;
    }
}
@media (max-width:900px){
    /* *******profile */
    .profile .discription .paragraph_desc{
        font-size: 17px;
    }
    .face .picture{
        height: 200px;
        width: 200px;
    }
    /*********skils***/
        .skils_panel{
            width: 100%;
            height: 100%;
        }
        .skils_panel .skils_title{
            height: 20%;
        }
        .skils_panel .skils_title .icon{
            width: 80px;
            height: 80px;
        }
        .skils_panel .skils_disk{
            margin: 50px 0 0;
            display: block;
        }
        .skils_panel .skils_disk .paragraph_desc{
            width: 100%;
            font-size: 20px;
            text-align: justify;
        }
        #previews,#previews1{
            left: 5%;
        }
        .skils_panel .skils_disk .skils_element {
            display: none;
        }
        .skils_corner1{
            visibility: hidden;
        }
        .skils_corner2{
            visibility: hidden;
        }
    .skils_panel .skils_disk .skils_title{
        font-size: 28px;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 18px;
    }
    .word {
        display: none;
    }
    .second_skils_model{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin-top: 20px;
    }
    .second_skils_model h3{
        font-family: var(--main_font);
        color: var(--main_font_color2);
    }
    /*********projects********/
    /****key_page*****/
    #previews_project1{
        left: 80%;
    }
    #next_project2,#next_project1{
        left: 90%;
    }
    #previews_project2{
        left: 90%;
    }
    /******contact*****/
    .contact .contain .cards .card{
        width: 220px;
        margin: 0 20px;
    }
    .contact .contain .cards .card span{
        height: 40px;
        width: 40px;
    }
    .contact .contain .cards .card .mail{
        height: 30px;
        width: 30px;
    }
    .contact .contain .cards .card p{
        height: 20%;
        font-size: 15px;
    }
    .contact .contain form .information .holder{
        width: 220px;
        margin: 10px 20px;
    }
    .contact .contain form .text{
        width: 500px;
    }
}
@media (max-width:760px){
    /*****profile**********/
    .profile .face{
        justify-content: center;
        flex-direction: column;
    }
    #about_me{
        top: 0;
    }
    #experience{
        top: 90%;
    }
    /*pictur*/
    #education_pict{
        font-size: 70px;
        height: 150px;
        width: 150px; 
        margin-bottom: 50px;
    }
    #profile_pict{
        height: 150px;
        width: 150px;
        margin-right: 0;
        margin-bottom: 30px;
    }
    #experience .cards{
        flex-direction: column;
        height: 500px;
    }
    #experience .cards .card{
        padding: 10px 0;
        width: 100%;
        margin-top: 10px;
        justify-content: space-between;
    }
    #experience .cards .card .year{
        margin-bottom: 5px;
    }
    #experience .cards .card p{
        font-size: 15px;
    }
    /*corner profile*/
    @keyframes profile_corner1_animation{
    0%{
        transform: translate(-18%,-80%) rotateZ(-20deg)
    }
    50%{
        transform: translate(-18%,-82%) rotateZ(-22deg);
    }   
    100%{
        transform: translate(-18%,-80%) rotateZ(-20deg)
    }
    }
    /* profile info */
.profile .discription{
    width: 90%;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
}
/* title */
#experience .title p{
    font-size: 30px;
    margin: 10px 0;
}
#about_me .title p{
    font-size: 30px;
}
.profile .discription .under_disq{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile .discription .under_disq .multitext_profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
.profile .discription .paragraph_desc{
    text-align: center;
    display: block;
    font-size: 15px;
}
.profile .discription .under_disq .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile .discription .under_disq .buttons a{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    /*********skils******/
    .skils_panel{
        width: 100%;
        height: 100%;
    }
    .skils_panel .skils_title{
        height: 20%;
        flex-direction: column;
    }
    .skils_panel .skils_title .icon{
        width: 80px;
        height: 80px;
    }
    .skils_panel .skils_disk{
        margin: 50px 0 0;
        display: block;
    }
    .skils_panel .skils_disk .paragraph_desc{
        font-size: 17px;
        text-align: center;
    }
    #previews,#previews1{
        left: 5%;
    }
    .skils_panel .skils_disk .skils_element {
        display: none;
    }
    .skils_corner1{
        visibility: hidden;
    }
    .skils_corner2{
        visibility: hidden;
    }
    /*********projects*****/
    .corner_projects p{
        font-size: 25px;
    }
    .project .corner_projects .logo_img{
        width: 70px;
        height: 70px;
    }
    /****key_page*****/
    #previews_project1{
        left: 80%;
    }
    #next_project2,#next_project1{
        left: 90%;
    }
    #previews_project2{
        left: 90%;
    }
    /**contact**/
    .contact .contact_icons p{
        font-size: 18px;
        width: auto;
    }
    .contact .title{
        font-size: 30px;
    }
    .contact .contain .cards .card{
        width: 80%;
        margin: 5px;
    }
    .contact .contain form .information .holder{
        width: 80%;
        margin: 5px;
    }
    .contact .contain form .text{
        width: 80%;
        margin: 5px;
    }
    .second_skils_model{
        margin-top: 20px;
    }
}
@media (max-width:650px){
    /* *********home */
    .nav_bar ul{
        width: 400px;
    }
    .nav_bar li{
        height: 25px;
        width: 25px;
    }
    .nav_bar li i{
        font-size: 20px;
    }
    .home{
        flex-direction: column-reverse;
        align-items: center;
    }
    .pictur_panel{
        width: 100%;
        height: 40%;
        justify-content: center;
        align-items: end;
    }
    .pictur_panel .icon{
        width: 220px;
        height: 220px;
    }
    .details{
        width: 100%;
        height: 60%;
        align-items: center;
        padding: 0;
    }
    .smalldesc{
        text-align: center;
        padding: 10px;
    }
    .discription{
        align-items: center;
    }
    .hello{
        font-size: 20px;
    }
    .Im{
        font-size: 30px;
    }
    .multitext{
        font-size: 25px;
        height: 20px;
    }
    .buttons a{
        height: 40px;
        font-weight: 500;
        font-size: 15px;
    }
    /*skils*/
    .skils_panel{
        padding: 60px 0;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 85%;
    }
    .skils_panel .skils_title{
        flex-direction: column;
    }
    .skils_panel .skils_title .icon{
        height: 70px;
        width: 65px;
    }
    .skils_panel .skils_title .title{
        font-size: 20px;
    }
    .skils_panel .skils_disk{
        align-items: center;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        text-align: center;
    }
    .skils_panel .skils_disk .skils_title{
        margin-bottom: 30px;
        height: 180px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .second_skils_model{
        justify-content: center;
        margin-top: 20px;
    }
    /**contact**/
    .contact .title{
        font-size: 25px;
        text-align: center;
    }
    .contact .contact_icons p{
        font-size: 16px;
    }
    .contact .contact_icons .media_logos a{
        height: 25px;
        width: 25px;
    }
}
@media (max-width:550px){
    body{
        cursor: auto;
    }
    .cursor{
        display: none;
    }
    /*********projects*****/
    .web_panel .corner_projects{
        width: 60vw;
        height: 60vw;
    } 
    .projects_title{
        display: none;
    }
    .projects_titlesecond{
        font-size: 18px;
        font-weight: 700;
        font-family: var(--main_font);
        padding: 10px 20px;
        border-style: solid;
        border-radius: 20px 20px 0 0;
        border-color: var(--main_color1) var(--main_color1) transparent;
        color: var(--main_font_color1);
        display: block;
    }
    .project .corner_projects .logo_img{
        visibility: hidden;
    }
    #projects_title1 .logo_img{
        visibility: hidden;
    }
    /******desktop*****/
    #projects_title2 .logo_img{
        visibility: hidden;
    }
    /******media*****/
    #projects_title3 .logo_img{
        visibility: hidden;
    }
    /*****contain***/
    .project .contain .panel_projects .ender_panel_projects{
        margin-top: 20px;
        width: 100%;
        height: 80%;
    }
    .project .contain .panel_projects .ender_panel_projects a{
        margin-top: 20px;
    }
    .contact .title{
        margin-top: 10px;
        font-size: 25px;
    }
    .contact .contain .cards{
        width: 300px;
    }
    .contact .contain .cards .card{
        width: 100%;
        height: 40px;
        margin: 5px 0;
    }
    .contact .contain .cards .card i{
        margin-top: 10px;
        font-size: 25px;
    }
    .contact .contain form{
        width: 300px;
    }
    .contact .contain form .information .holder{
        width: 100%;
        height: 40px;
        margin: 5px 0;
    }
    .contact .contain form .text{
        width: 100%;
    }
    .contact .contact_icons{
        flex-direction: column;
    }
    .contact .contact_icons p{
        font-size: 15px;
    }
    .contact_media a{
        width: 30px;
        height: 30px;
    }
    /****key_page***********/
    #previews_project1{
        top: 90%;
        left: 2%;
        background-image: url(../icons/prjects/key.png);
    }
    #next_project2,#next_project1{
        top: 90%;
        left: 85%;
        background-image: url(../icons/prjects/key\ 2.png);
    }
    #previews_project2{
        top: 90%;
        left: 2%;
        background-image: url(../icons/prjects/key.png);
    }
}
@media (max-width:450px){
    /* .frame{
        height: 80%;
    } */
    /* *********home */
    .nav_bar ul{
        width: 300px;
    }
    .nav_bar ul li i{
        font-size: 20px;
    }

    /* *******profile */
    /*****profile**********/
    .key{
        top: 10%;
        left: 85%;
    }
    .profile .face{
        justify-content: center;
        flex-direction: column;
    }
    #about_me{
        top: 0;
    }
    #experience{
        top: 90%;
    }
    /*pictur*/
    #about_me .picture{
        height: 150px;
        width: 150px; 
        margin: 20px;
    }
    #education_pict{
        font-size: 100px;
        height: 150px;
        width: 150px; 
        margin-bottom: 10px;
    }
    #experience .cards{
        flex-direction: column;
    }
    #experience .cards .card{
        width: 100%;
        height: 30%;
        margin-top: 10px;
        justify-content: space-between;
    }
    #experience .cards .card p{
        font-size: 15px;
    }
    /*corner profile*/
    @keyframes profile_corner1_animation{
        0%{
            transform: translate(-38%,-80%) rotateZ(-20deg)
        }
        50%{
            transform: translate(-35%,-82%) rotateZ(-22deg);
        }   
        100%{
            transform: translate(-38%,-80%) rotateZ(-20deg)
        }
        }
        @keyframes profile_corner2_animation{
            0%{
                transform: translate(30%,90%) rotateZ(-20deg);
            }
            50%{
                transform: translate(32%,95%) rotateZ(-22deg);
            }   
            100%{
                transform: translate(30%,90%) rotateZ(-20deg);
            }
        }
    /* profile info */
.profile .discription{
    height: 55%;
    width: 90%;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
#about_me .title p{
    font-size: 25px;
}
#experience .title p{
    font-size: 25px;
}
.profile .discription .paragraph_desc{
    text-align: center;
}
.profile .discription .under_disq .buttons{
    margin-top: 20px;
}
    /*********skils***/
    #previews,#previews1{
        left: 5%;
    }
    .skils_panel .skils_disk .skils_title .icon{
        height: 100px;
        width: 100px;
    }
    .skils_panel .skils_disk .skils_title .title{
        font-size: 18px;
        height: 20%;
        text-align: center;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 16px;
        font-weight: 500;
    }
    .second_skils_model .skill h3{
        font-family: var(--main_font);
        color: var(--main_font_color2);
        font-size: 16px;
    }
    /* *****project*
    /*********projects*****/
    .web_panel .corner_projects{
        width: 70vw;
        height: 70vw;
    } 
    .corner_projects p{
        font-size: 20px;
        transform: rotateZ(0deg);
        width: 150%;
        height: 50%;
        border-style: solid;
        border-radius: 20px 20px 0 0;
        border-color: var(--main_color1);
        color: var(--main_font_color1);
    }
    #projects_title1 p{
        left: -105%;
        top: 10%;
        transform: rotateZ(0deg);
    }
    #projects_title2 p{
        left: 0%;
        top: 55%;
        transform: rotateZ(-90deg);
    }
    #projects_title3 p{
        left: 50%;
        top: -45%;
        transform: rotateZ(-180deg);
    }
    /******project**/
    .project .contain .panel_projects .projects_title{
        font-size: 20px;
        font-weight: 700;
    }
    .project .contain .card{
        width: 250px;
        height: 130px;
    }
    .project .contain .card .trans_hiegth img{
        width: 250px;
        height: 130px;
    }
    .project .contain .card .trans_hiegth{
        width: 250px;
        height: 260px;
    }
    .project .contain .card .trans_hiegth .more{
        width: 250px;
        height: 130px;
    }
    .project .contain .card .trans_hiegth .more h1{
        font-size: 20px;
    }
}
@media (max-width:370px){
    /*********skils***/
    .skils_panel{
        padding: 30px 0;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 85%;
    }
    .skils_panel .skils_title{
        flex-direction: column;
    }
    .skils_panel .skils_title .icon{
        height: 70px;
        width: 60px;
    }
    .skils_panel .skils_disk .skils_title .icon{
        height: 100px;
        width: 100px;
    }
    .skils_panel .skils_disk .skils_title .title{
        font-size: 18px;
        height: 20%;
    }
    .skils_panel .skils_disk  .paragraph_desc{
        font-size: 17px;
        font-weight: 600;
    }
    .second_skils_model .skill h3{
        font-family: var(--main_font);
        color: var(--main_font_color2);
        font-size: 16px;
    }
    .second_skils_model .skill .skill-bar{
        width: 220px;
    }
}