.profile .profile_frame::-webkit-scrollbar{
    width: 15px;
}
/************************profile**************************/
.profile{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../icons/bg_home/bg_home_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.profile_corner1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../icons/profile/profile_corner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-18%,-70%) rotateZ(-20deg);
    animation: profile_corner1_animation 4s  ease infinite;
}
.profile_corner2{
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url(../icons/profile/profile_corner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(15%,95%) rotateZ(-20deg);
    animation: profile_corner2_animation 4s  ease infinite;
}
/*********************frame-scroll_panel***********************/
.profile .profile_frame{
    top: 0;
    left: 25%;
    z-index: 1;
    position: relative;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ffffff00;
}
.profile .profile_frame p{
    width: 100%;
    height: 70%;
}
.key{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 40px;
    width: 40px;
    border-style: solid;
    border-radius: 50px;
    border-color: var(--main_color1);
    background-color: var(--main_color1);
    background-size: 40px 100%;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    animation: key_animation 2s ease infinite;
    cursor: none;
}
#scroll_down{
    background-image: url(../icons/profile/key.png);
}
#scroll_up{
    background-image: url(../icons/profile/key\ 2.png);
}
/*******************face**************************/
.profile .face{
    z-index: -1;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    transition: .4s ease;
}
/************about_me********************/
#about_me{
    position: relative;
    top: 10%;
    transform: rotateZ(0deg);
    transform-origin: 0 50%;
}
/*pictur*/
.face .picture{
    position: relative;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--main_color1);
    background-color: var(--main_color1);
    margin-right: 20px;
}
.face .picture::after{
    position: absolute;
    content: "";
    top: -10%;
    left: -10%;
    height: 120%;
    width: 120%;
    transform-origin: 50% 50%;
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
    border-color:var(--main_color1)  transparent var(--main_color1) transparent;
    animation: rotation_pict 4s linear infinite;
}
/* profile info */
.profile .discription{
    height: 50%;
    width: 50%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#profile_pict{
    background-image: url(../icons/profile/about_me.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* title */
#about_me .title{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}
#about_me .title p{
    font-family: var(--main_font);
    font-size: 30px;
    font-weight: 700;
    color: var(--main_font_color2);
}
#about_me .title .me{
    color: var(--main_font_color1);
    margin-left: 5px;
}
/*discription*/
.profile .discription .under_disq{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.profile .discription .under_disq p{
    font-family: var(--main_font);
    margin-top: 7px;
}
.profile .discription .under_disq .multitext_profile{
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    color: var(--main_font_color1);
}
.profile .discription .under_disq .typed-cursor{
    display: none;
}
.profile .discription .paragraph_desc{
    position: relative;
    max-width: 100%;
    font-size: 17px;
    color:var(--main_font_color2);
    display: flex;
    align-items: center;
    line-height: 1.8;
    font-family: var(--main_font);
}
.profile .discription .under_disq .buttons{
    margin-top: 20px;
    height: 50px;
    display: block;
    width: fit-content;
}
.profile .discription .under_disq .buttons a{
    height: 100%;
}
/************experience******************/
#experience{
    top: 100%;
    transform-origin: 0 0;
    transform: rotateZ(45deg) translateY(0);
}
/*pictur*/
#education_pict{
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    animation:fly_icon 4s ease infinite;
}
#experience .title{
    font-size: 30px;
    color: var(--main_font_color1);
    font-family: var(--main_font);
    font-weight: 900;
    margin-bottom: 10px;
}
#experience .paragraph_desc{
    margin-bottom: 10px;
    font-size: 17px;
}
#experience .cards{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#experience .cards .card{
    height: 100%;
    width: 150px;
    background-color: var(--main_color2);
    margin-right: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--main_color1);
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s ease;
}
#experience .cards .card p{
    font-size: 16px;
    color: var(--main_font_color2);
    font-family: var(--main_font);
    text-align: center;
}
#experience .cards .card .year{
    font-size: 20px;
    font-weight: 900;
    color: var(--main_font_color1);
    font-family: var(--main_font);
    margin-bottom: 15px;
}
#experience .cards .card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 10px 0 var(--main_color1);
}